<div class="songs-list-wrapper">
	<input class="search-box" placeholder="search..." (ngModelChange)="searchSong($event)" [(ngModel)]="query"/>
	<div *ngIf="songs | filter: search as searchResults" class="filtered-songs-wrapper">
		<div *ngIf="searchResults.length === 0; else showResults" class="no-results">
			<label>Sorry, we couldn't find what you're looking for</label>
		</div>
		<ng-template #showResults>
			<ul class="songs-list">
				<li *ngFor="let song of searchResults"
				[class.selected]="song === selectedSong"
				(click)="selectSong(song)">
				{{song.title}}
				</li>	
			</ul>	
		</ng-template>
	</div>
</div>